@model IEnumerable<Team>

<a class="btn btn-block
   @(ViewBag.SelectedTeam == null ? "btn-primary" : "btn-outline-secondary")"
   asp-action="Index"
   asp-controller="Home"
   asp-route-teamId="">Home</a>
<br />

@foreach (var x in Model)
{
    <a class="btn btn-block
       @(x.TeamName == ViewBag.SelectedTeam ? "btn-primary" : "btn-outline-secondary")"
       asp-action="Index"
       asp-controller="Home"
       asp-route-teamId="@x.TeamId"
       asp-route-teamName="@x.TeamName">@x.TeamName</a>
}